frass/FRASS.Services.Proxies/Service References/ReportService/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62977/ReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62977/ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_GenerateFullParcelReportDeliveredMarketModel_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateFullParcelReportDeliveredMarketModel" />
  </wsdl:message>
  <wsdl:message name="IReportService_GenerateFullParcelReportDeliveredMarketModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateFullParcelReportDeliveredMarketModelResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GenerateFullParcelReportStumpageMarketModel_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateFullParcelReportStumpageMarketModel" />
  </wsdl:message>
  <wsdl:message name="IReportService_GenerateFullParcelReportStumpageMarketModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateFullParcelReportStumpageMarketModelResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="GenerateFullParcelReportDeliveredMarketModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GenerateFullParcelReportDeliveredMarketModel" message="tns:IReportService_GenerateFullParcelReportDeliveredMarketModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GenerateFullParcelReportDeliveredMarketModelResponse" message="tns:IReportService_GenerateFullParcelReportDeliveredMarketModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateFullParcelReportStumpageMarketModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GenerateFullParcelReportStumpageMarketModel" message="tns:IReportService_GenerateFullParcelReportStumpageMarketModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GenerateFullParcelReportStumpageMarketModelResponse" message="tns:IReportService_GenerateFullParcelReportStumpageMarketModel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportService" type="tns:IReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateFullParcelReportDeliveredMarketModel">
      <soap:operation soapAction="http://tempuri.org/IReportService/GenerateFullParcelReportDeliveredMarketModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateFullParcelReportStumpageMarketModel">
      <soap:operation soapAction="http://tempuri.org/IReportService/GenerateFullParcelReportStumpageMarketModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="BasicHttpBinding_IReportService" binding="tns:BasicHttpBinding_IReportService">
      <soap:address location="http://localhost:62977/ReportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>